@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  input {
    @apply text-slate-800 border border-slate-800 p-2 rounded-md;
  }

  button.main-button, a.main-button {
    @apply text-white px-4 py-2 bg-foreground;
  }

  /* button,
  button[type="submit"] {
    @apply bg-slate-800 text-white p-2 rounded-md;
  } */
}

:root {
  --background: #e0dbcf;
  --foreground: #3e2723;
}

body {
  color: black;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


ol {
  margin: initial;
  padding-inline-start: 40px;
  list-style: decimal;
}